<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpressJS</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
</head>
<body>
    <%- include('./header.ejs'); %>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p>
                <div class="jumbotron">
                    <h1>Hello world!</h1>
                    <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                </div>
            </div>
            <div class="container-fluid">
              <div class="row content">
                <div class="col-sm-12">
                  <h4><small>Demo</small></h4>
                  <hr>
                    <div class="container">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>File Input Example</h3>
                        <form method="post" action="upload/post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="image" class="input-group input-file"/>
                            <button type="submit" name="upload" class="btn btn-primary pull-right">Upload</button>
                        </form>
                    </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <%- include('./sidebar.ejs'); %>
            </div>
        </div>
        <%- include('./footer.ejs'); %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>